/* stylesheet */

body {
    position: relative;
    min-height: 100vh;
}

#table {
    font-size: 12px;
    margin-left: 15px;
}
/*height: 2.3rem; position: aboslute*/
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 18px;
    background: thistle;
    text-align: center;
    color: black;
    margin-top: 20px;
    }

.plot-comp {
    text-align: center;
    padding-bottom: 6px;
}
.center-div {
    text-align: center;
}

.title-main {
    padding-top: 20px;
    padding-left: 5px;
    color: steelblue;
    }

.title-side {
    padding-top: 30px;
    padding-left: 5px;
    color: rosybrown;
    }

.spacer {
    padding: 25px 0 0 0;
}

.spacer-bottom {
    padding: 50px;
    }

/*.background-main {
    background: cadetblue}*/

/*.background-side {
    text-align: center;}*/

.title-plot { 
    text-align: center;
    color: steelblue;
    padding-top: 15px;
    }

#plot-main {
    float: left;
    padding-right: 10px;
    padding-bottom: 5px;}

.plot-side {
    width: 40%;
    height: auto;
    display: inline-block;
    margin: 0 auto;
    padding: 5px;
}

#plot-showcase {
    padding-top: 5px;
    padding-bottom: 20px;
    width: 70%;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    }

.highlight:hover img {
    border: 1px solid navy;
}

.border img{
    border: 2px solid lightgray;
    }

@media (max-width: 768px) {
    .plot-side {
     max-width: 22%;
    display: inline-block;
}