/* boxes*/

.title-main {
    padding-top: 20px;
    padding-left: 5px;
    }

.title-side {
    padding-top: 30px;
    padding-left: 5px;
    }

.spacer {
    padding: 25px 0 0 0;
}

.background-main {
    background: cadetblue}

.background-side {
    background: cadetblue}

#plot-main {
    float: left;
    padding-right: 10px;
    padding-bottom: 5px;}

/* height: auto; width: 23% and 45% for smaller screens for visualization side panel*/